<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'admin:admin_main' %}"><i class="fa fa-cogs" aria-hidden="true"></i>
      Админка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
          <a class="nav-link" href="{% url 'admin:users' %}"><i class="fa fa-users" aria-hidden="true"></i>
            Пользователи</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'categories' or category.name %}active{% endif %}">
          <a class="nav-link" href="{% url 'admin:categories' %}"><i class="fa fa-list" aria-hidden="true"></i>
            Категори{% if category %}я: <span>{{ category.name|title }}</span>{% else %}и{% endif %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main' %}"><i class="fa fa-home" aria-hidden="true"></i> На
            сайт</a>
        </li>
      </ul>
    </div>
  </div>
</nav>