{% extends 'adminapp/base.html' %}

{% block content %}
<p>
<div class="row justify-content-center">
  <div class="col-6">
    <h3>Уверены, что хотите удалить категорию <strong>{{ object.name }}</strong>?</h3>
    <form action="{% url 'admin:category_delete' object.pk %}" method="post">
      {% csrf_token %}
      <p>
      <div class="row justify-content-around">
        <div class="col-5">
          <a href="{% url 'admin:categories' %}" class="btn btn-outline-secondary btn-block" role="button"
            aria-pressed="true">Отмена</a>
        </div>
        <div class="col-5">
          <button type="submit" class="btn btn-outline-danger btn-block">Удалить</button>
        </div>
      </div>
      </p>
    </form>
  </div>
</div>
</p>
{% endblock %}