{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
<p>
<div class="row justify-content-end">
  <div class="col-2">
    <a href="{% url 'admin:product_create' category.pk %}" class="btn btn-outline-secondary btn-sm" role="button"
      aria-pressed="true"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
  </div>
</div>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">К описанию</th>
      <th scope="col">Цена (руб.)</th>
      <th scope="col">Количество</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
    <tr id="{{ object.pk }}" {% if not object.is_active %}style="opacity: 30%;" {% endif %}>
      <th scope="row">{{ object.pk }}</th>
      <td>
        <img src="{{ media_url }}{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}"
          style="max-width: 100px;">
      </td>
      <td>{{ object.name|title }}</td>
      <td><a href="{% url 'admin:product_read' object.pk %}"><i class="fa fa-angle-right" aria-hidden="true"></i>
          Подробнее</a></td>
      <td>{{ object.price }}</td>
      <td>{{ object.quantity }}</td>
      <td><a href="{% url 'admin:product_update' object.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </td>
      <td><a href="{% url 'admin:product_delete' object.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}