{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
<p>
<div class="row justify-content-end">
  <div class="col-2">
    <a href="{% url 'admin:user_create' %}" class="btn btn-outline-secondary btn-sm" role="button"
      aria-pressed="true"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
  </div>
</div>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Роль</th>
      <th scope="col">Логин</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Возраст</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr id="{{ object.pk }}" {% if not object.is_active %}style="opacity: 30%;" {% endif %}>
      <th scope="row">{{ object.pk }}</th>
      <td>{% if object.is_superuser %}администратор{% else %}пользователь{% endif %}</td>
      <td>{{ object.username }}</td>
      <td>{{ object.first_name|title }}</td>
      <td>{{ object.last_name|title }}</td>
      <td>{{ object.age }}</td>
      <td>{{ object.email }}</td>
      <td><a href="{% url 'admin:user_update' object.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
      <td>
        {% if not object.is_superuser %}
        <a href="{% url 'admin:user_delete' object.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}